################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TailCallTest/v14
/TailCallTest/bin
/TailCallTest/obj
